.navinfo {
  width: 100%;
  max-width: 414px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
  background-color: #222;
  border-bottom: solid 1px #1e3a8a80;
}

.navinfo ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.navinfo ul li.active {
  border: solid 1px #1e3a8a;
  border-radius: 5px;
}

.navinfo ul li img {
  width: 35px;
  height: 35px;
  padding: 8px;
  object-fit: cover;
  border-radius: 5px;
}

.bandeira {
  width: 50px !important;
}

.ofenciva,
.diamante {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ofenciva span {
  font-weight: bold;
  color: #f6982d;
}

.diamante span {
  font-weight: bold;
  color: #80d8ff;
}
